@use 'sass:map';

$scale: (
  xxs: (
    font-size: 0.625rem,
    line-height: 1rem,
  ),
  xs: (
    font-size: 0.6875rem,
    line-height: 1rem,
  ),
  sm: (
    font-size: 0.75rem,
    line-height: 1rem,
  ),
  md: (
    font-size: 0.875rem,
    line-height: 1rem,
  ),
  lg: (
    font-size: 1rem,
    line-height: 1.5rem,
  ),
  xl: (
    font-size: 1.125rem,
    line-height: 1.5rem,
  ),
  xxl: (
    font-size: 1.25rem,
    line-height: 1.75rem,
  ),
);

@mixin apply-scale($key) {
  @if map.has-key($scale, $key) {
    $properties: map.get($scale, $key);

    @each $property, $value in $properties {
      #{$property}: $value;
    }
  }
}

$role: (
  button: (
    scale: 'sm',
    font-family: (
      'Roboto',
      sans-serif,
    ),
    font-weight: 500,
    line-height: 100%,
  ),
  value: (
    scale: 'sm',
    font-family: (
      'Roboto Mono',
      monospace,
    ),
    font-weight: 400,
    line-height: 100%,
  ),
  label-xxs: (
    scale: 'xxs',
    font-family: (
      'Roboto',
      sans-serif,
    ),
    font-weight: 500,
    line-height: 100%,
  ),
  label-sm-condensed: (
    scale: 'sm',
    font-family: (
      'Roboto Condensed',
      sans-serif,
    ),
    font-weight: 600,
    line-height: 100%,
  ),
  label-sm: (
    scale: 'sm',
    font-family: (
      'Roboto',
      sans-serif,
    ),
    font-weight: 500,
    line-height: 100%,
  ),
  label: (
    scale: 'md',
    font-family: (
      'Roboto',
      sans-serif,
    ),
    font-weight: 500,
    line-height: 100%,
  ),
);

@mixin apply-role($key) {
  @if map.has-key($role, $key) {
    $properties: map.get($role, $key);
    @each $property, $value in $properties {
      @if $property == 'scale' {
        @include apply-scale($value);
      } @else {
        #{$property}: $value;
      }
    }
  }
}
