// todo: background to surface-container-highest

@use 'sass:math';
@use '../../styles/typography' as t;

$button-height: 1.5rem;
$button-shape-height: 1.5rem;
$button-icon-size-px: 16;
$button-icon-size: math.div($button-icon-size-px, 16) * 1rem;
$px: 0.75rem;
$pl-has-label: 0.5rem;
$pr-has-label: 0.75rem;
$gx: 0.125rem;
$label-border-thickness: 0.0625rem;
$rad: 0.25rem;
$duration: 200ms;
$easing: cubic-bezier(0.2, 0, 0, 1);

.number-field {
  $root-selector: &;

  &__root {
    display: grid;
    grid-template-rows: 1fr $button-shape-height 1fr;
    grid-template-columns: min-content 1fr min-content;
    column-gap: $gx;
    place-items: stretch stretch;
    width: min-content;
    height: $button-height;

    &[data-has-label] {
      grid-template-columns: min-content min-content 1fr min-content;
    }

    &[data-no-button] {
      grid-template-columns: 1fr;
    }

    &[data-has-label][data-no-button] {
      grid-template-columns: min-content 1fr;
    }
  }

  &__group {
    display: grid;
    grid-template-rows: subgrid;
    grid-template-columns: subgrid;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
  }

  &__input {
    $parent-selector: &;

    position: relative;
    z-index: 3;
    box-sizing: content-box;
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    min-width: calc((var(--min-ch) + 1) * 1ch);
    padding-block: 0;
    padding-inline: $px;
    color: var(--on-secondary-container);
    text-align: right;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    transition: color $duration $easing;
    @include t.apply-role('value');

    &:focus {
      outline: none;
    }

    &[data-disabled] {
      color: color-mix(in oklch, var(--on-surface) 38%, transparent);
      cursor: auto;
    }

    @at-root #{$root-selector}[data-has-label] #{&} {
      grid-column: 3 / span 1;
      padding-inline: 0 $pr-has-label;
    }

    @at-root #{$root-selector}[data-no-button] #{&} {
      grid-column: 1 / span 1;
    }

    @at-root #{$root-selector}[data-has-label][data-no-button] #{&} {
      grid-column: 2 / span 1;
    }

    &__label {
      position: relative;
      z-index: 4;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
      grid-row: 2 / span 1;
      grid-column: 2 / span 1;
      place-items: center center;
      padding-inline: $pl-has-label $pl-has-label - $label-border-thickness;
      color: var(--on-surface-variant);
      cursor: pointer;
      border-right: $label-border-thickness solid var(--outline-variant);
      transition: color $duration $easing, border-color $duration $easing;

      &:has(~ #{$parent-selector}[data-disabled]) {
        color: color-mix(in oklch, var(--on-surface) 38%, transparent);
        cursor: auto;
        border-color: color-mix(in oklch, var(--on-surface) 12%, transparent);
      }

      @at-root #{$root-selector}[data-no-button] #{&} {
        grid-column: 1 / span 1;
      }

      &__text {
        width: calc(var(--labal-ch) * 1ch);
        height: 1cap;
        color: inherit;
        cursor: inherit;
        user-select: none;
        transform: translateY(calc(-0.5 * (1lh - 1cap) + 0.0313rem));

        @include t.apply-role('label-sm');
      }
    }

    &__shape {
      position: relative;
      z-index: 1;
      grid-row: 2 / span 1;
      grid-column: 2 / span 1;
      background-color: var(--secondary-container);
      border-radius: $rad;
      transition: background-color $duration $easing;

      @at-root #{$parent-selector}[data-disabled] ~ #{&} {
        background-color: color-mix(
          in oklch,
          var(--on-surface) 12%,
          transparent
        );
      }

      @at-root #{$root-selector}[data-has-label] #{&} {
        grid-column: 2 / span 2;
      }

      @at-root #{$root-selector}[data-no-button] #{&} {
        grid-column: 1 / span 1;
      }

      @at-root #{$root-selector}[data-has-label][data-no-button] #{&} {
        grid-column: 1 / span 2;
      }
    }

    &__state {
      position: relative;
      z-index: 2;
      grid-row: 2 / span 1;
      grid-column: 2 / span 1;
      background-color: var(--on-secondary-container);
      border-radius: $rad;
      opacity: 0;
      transition: background-color $duration $easing, opacity $duration $easing,
        transform $duration $easing;
      transform: scale(0%, 100%);

      @at-root #{$parent-selector}[data-hovered] ~ #{&} {
        opacity: 0.08;
        transform: scale(100%, 100%);
      }
      @at-root #{$parent-selector}__label:hover ~ #{&} {
        opacity: 0.08;
        transform: scale(100%, 100%);
      }
      @at-root #{$parent-selector}[data-focused] ~ #{&} {
        opacity: 0.08;
        transform: scale(100%, 100%);
      }
      @at-root #{$parent-selector}[data-focus-visible] ~ #{&} {
        opacity: 0.08;
        transform: scale(100%, 100%);
      }
      @at-root #{$parent-selector}[data-disabled] ~ #{&} {
        opacity: 0;
        transform: scale(0%, 100%);
      }

      @at-root #{$root-selector}[data-has-label] #{&} {
        grid-column: 2 / span 2;
      }

      @at-root #{$root-selector}[data-no-button] #{&} {
        grid-column: 1 / span 1;
      }

      @at-root #{$root-selector}[data-has-label][data-no-button] #{&} {
        grid-column: 1 / span 2;
      }
    }
  }

  &__button {
    grid-template-rows: 1fr $button-shape-height 1fr;
    grid-template-columns: 1fr $button-shape-height 1fr;
    grid-row: 1 / -1;
    width: $button-height;
    height: $button-height;

    :global(.icon-button-icon) {
      font-size: $button-icon-size;
      line-height: $button-icon-size;
    }

    &--part {
      &-decrease {
        grid-column: 1 / span 1;
      }

      &-increase {
        grid-column: -2 / span 1;
      }
    }
  }
}
