@use './styles/typography' as t;

body {
  padding-block: 0.75rem;
}

.label {
  user-select: none;
}

.document-info {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 0.25rem;
  place-items: end start;
  padding-inline: 0.75rem;

  &__label {
    height: 1cap;
    color: var(--on-surface-variant);
    white-space: nowrap;
    transform: translateY(calc(-0.5 * (1lh - 1cap)));

    @include t.apply-role('label-xxs');
  }

  &__value {
    height: 1cap;
    color: var(--primary);
    user-select: none;
    transform: translateY(calc(-0.5 * (1lh - 1cap)));

    @include t.apply-role('label-sm');
  }
}

.hue {
  margin-top: 1.25rem;

  &__label {
    height: 1cap;
    padding-inline: 0.75rem;
    color: var(--on-surface);
    white-space: nowrap;
    transform: translateY(calc(-0.5 * (1lh - 1cap)));

    @include t.apply-role('label-sm');
  }

  &__sliders {
    display: grid;
    grid-template-rows: 0.5rem 0.5rem;
    justify-items: stretch;
    margin-top: 0.75rem;

    :global .slider-track-active {
      background-color: transparent;
    }

    :global .slider-track-inactive {
      background-color: transparent;
    }
  }

  &__slider {
    grid-column: 1 / -1;
    margin-inline: 0.125rem;

    &-from {
      grid-row: 1 / span 1;
      align-self: end;
      margin-bottom: -0.375rem;
    }

    &-to {
      grid-row: 2 / span 1;
      align-self: start;
      margin-top: -0.375rem;
    }
  }

  &__gradient {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    margin-inline: 0.75rem;
    background-image: linear-gradient(
      to right in oklch,
      oklch(67% 0.305 0deg),
      oklch(67% 0.304 1deg),
      oklch(67% 0.301 2deg),
      oklch(67% 0.299 3deg),
      oklch(66% 0.299 4deg),
      oklch(66% 0.298 5deg),
      oklch(66% 0.298 6deg),
      oklch(66% 0.298 7deg),
      oklch(66% 0.298 8deg),
      oklch(66% 0.297 9deg),
      oklch(66% 0.297 10deg),
      oklch(66% 0.297 11deg),
      oklch(66% 0.295 12deg),
      oklch(66% 0.294 13deg),
      oklch(66% 0.293 14deg),
      oklch(65% 0.293 15deg),
      oklch(65% 0.293 16deg),
      oklch(65% 0.293 17deg),
      oklch(65% 0.293 18deg),
      oklch(65% 0.294 19deg),
      oklch(65% 0.294 20deg),
      oklch(65% 0.294 21deg),
      oklch(65% 0.295 22deg),
      oklch(65% 0.295 23deg),
      oklch(65% 0.296 24deg),
      oklch(65% 0.297 25deg),
      oklch(65% 0.297 26deg),
      oklch(65% 0.297 27deg),
      oklch(65% 0.297 28deg),
      oklch(65% 0.297 29deg),
      oklch(65% 0.291 30deg),
      oklch(66% 0.286 31deg),
      oklch(66% 0.28 32deg),
      oklch(67% 0.276 33deg),
      oklch(67% 0.27 34deg),
      oklch(68% 0.266 35deg),
      oklch(68% 0.262 36deg),
      oklch(69% 0.257 37deg),
      oklch(69% 0.254 38deg),
      oklch(69% 0.249 39deg),
      oklch(70% 0.248 40deg),
      oklch(70% 0.243 41deg),
      oklch(71% 0.24 42deg),
      oklch(71% 0.238 43deg),
      oklch(71% 0.234 44deg),
      oklch(72% 0.233 45deg),
      oklch(72% 0.229 46deg),
      oklch(73% 0.226 47deg),
      oklch(73% 0.225 48deg),
      oklch(73% 0.222 49deg),
      oklch(74% 0.22 50deg),
      oklch(74% 0.219 51deg),
      oklch(74% 0.216 52deg),
      oklch(75% 0.215 53deg),
      oklch(75% 0.214 54deg),
      oklch(75% 0.211 55deg),
      oklch(76% 0.21 56deg),
      oklch(76% 0.209 57deg),
      oklch(76% 0.207 58deg),
      oklch(77% 0.206 59deg),
      oklch(77% 0.206 60deg),
      oklch(77% 0.204 61deg),
      oklch(78% 0.202 62deg),
      oklch(78% 0.203 63deg),
      oklch(78% 0.201 64deg),
      oklch(78% 0.2 65deg),
      oklch(79% 0.201 66deg),
      oklch(79% 0.2 67deg),
      oklch(79% 0.198 68deg),
      oklch(80% 0.2 69deg),
      oklch(80% 0.198 70deg),
      oklch(80% 0.197 71deg),
      oklch(81% 0.198 72deg),
      oklch(81% 0.198 73deg),
      oklch(81% 0.197 74deg),
      oklch(82% 0.197 75deg),
      oklch(82% 0.198 76deg),
      oklch(82% 0.197 77deg),
      oklch(83% 0.197 78deg),
      oklch(83% 0.198 79deg),
      oklch(83% 0.197 80deg),
      oklch(84% 0.197 81deg),
      oklch(84% 0.199 82deg),
      oklch(84% 0.199 83deg),
      oklch(85% 0.199 84deg),
      oklch(85% 0.2 85deg),
      oklch(85% 0.2 86deg),
      oklch(86% 0.201 87deg),
      oklch(86% 0.202 88deg),
      oklch(86% 0.202 89deg),
      oklch(87% 0.205 90deg),
      oklch(87% 0.205 91deg),
      oklch(87% 0.205 92deg),
      oklch(88% 0.208 93deg),
      oklch(88% 0.208 94deg),
      oklch(89% 0.21 95deg),
      oklch(89% 0.211 96deg),
      oklch(89% 0.212 97deg),
      oklch(90% 0.215 98deg),
      oklch(90% 0.215 99deg),
      oklch(91% 0.219 100deg),
      oklch(91% 0.219 101deg),
      oklch(92% 0.223 102deg),
      oklch(92% 0.224 103deg),
      oklch(93% 0.227 104deg),
      oklch(93% 0.228 105deg),
      oklch(94% 0.232 106deg),
      oklch(94% 0.233 107deg),
      oklch(95% 0.237 108deg),
      oklch(95% 0.239 109deg),
      oklch(96% 0.243 110deg),
      oklch(96% 0.245 111deg),
      oklch(96% 0.244 112deg),
      oklch(95% 0.246 113deg),
      oklch(95% 0.248 114deg),
      oklch(95% 0.25 115deg),
      oklch(94% 0.25 116deg),
      oklch(94% 0.252 117deg),
      oklch(94% 0.254 118deg),
      oklch(94% 0.256 119deg),
      oklch(93% 0.257 120deg),
      oklch(93% 0.26 121deg),
      oklch(93% 0.263 122deg),
      oklch(92% 0.263 123deg),
      oklch(92% 0.266 124deg),
      oklch(92% 0.269 125deg),
      oklch(91% 0.27 126deg),
      oklch(91% 0.274 127deg),
      oklch(91% 0.278 128deg),
      oklch(91% 0.281 129deg),
      oklch(90% 0.283 130deg),
      oklch(90% 0.287 131deg),
      oklch(90% 0.292 132deg),
      oklch(89% 0.294 133deg),
      oklch(89% 0.299 134deg),
      oklch(89% 0.304 135deg),
      oklch(88% 0.307 136deg),
      oklch(88% 0.313 137deg),
      oklch(88% 0.316 138deg),
      oklch(87% 0.322 139deg),
      oklch(87% 0.329 140deg),
      oklch(86% 0.332 141deg),
      oklch(86% 0.34 142deg),
      oklch(86% 0.348 143deg),
      oklch(85% 0.353 144deg),
      oklch(85% 0.362 145deg),
      oklch(85% 0.362 146deg),
      oklch(85% 0.354 147deg),
      oklch(85% 0.344 148deg),
      oklch(85% 0.335 149deg),
      oklch(85% 0.326 150deg),
      oklch(85% 0.318 151deg),
      oklch(85% 0.311 152deg),
      oklch(85% 0.303 153deg),
      oklch(85% 0.297 154deg),
      oklch(85% 0.291 155deg),
      oklch(86% 0.288 156deg),
      oklch(86% 0.282 157deg),
      oklch(86% 0.277 158deg),
      oklch(86% 0.272 159deg),
      oklch(86% 0.267 160deg),
      oklch(86% 0.263 161deg),
      oklch(86% 0.259 162deg),
      oklch(86% 0.255 163deg),
      oklch(86% 0.251 164deg),
      oklch(86% 0.247 165deg),
      oklch(87% 0.245 166deg),
      oklch(87% 0.243 167deg),
      oklch(87% 0.24 168deg),
      oklch(87% 0.237 169deg),
      oklch(87% 0.235 170deg),
      oklch(87% 0.232 171deg),
      oklch(87% 0.229 172deg),
      oklch(87% 0.227 173deg),
      oklch(87% 0.225 174deg),
      oklch(87% 0.223 175deg),
      oklch(87% 0.221 176deg),
      oklch(87% 0.219 177deg),
      oklch(88% 0.219 178deg),
      oklch(88% 0.218 179deg),
      oklch(88% 0.216 180deg),
      oklch(88% 0.214 181deg),
      oklch(88% 0.213 182deg),
      oklch(88% 0.212 183deg),
      oklch(88% 0.21 184deg),
      oklch(88% 0.209 185deg),
      oklch(88% 0.208 186deg),
      oklch(88% 0.207 187deg),
      oklch(88% 0.206 188deg),
      oklch(89% 0.205 189deg),
      oklch(89% 0.207 190deg),
      oklch(89% 0.206 191deg),
      oklch(89% 0.205 192deg),
      oklch(89% 0.205 193deg),
      oklch(88% 0.202 194deg),
      oklch(88% 0.201 195deg),
      oklch(87% 0.199 196deg),
      oklch(87% 0.198 197deg),
      oklch(86% 0.196 198deg),
      oklch(86% 0.196 199deg),
      oklch(85% 0.193 200deg),
      oklch(85% 0.193 201deg),
      oklch(85% 0.191 202deg),
      oklch(84% 0.191 203deg),
      oklch(84% 0.19 204deg),
      oklch(83% 0.189 205deg),
      oklch(83% 0.189 206deg),
      oklch(82% 0.187 207deg),
      oklch(82% 0.188 208deg),
      oklch(81% 0.186 209deg),
      oklch(81% 0.186 210deg),
      oklch(80% 0.185 211deg),
      oklch(80% 0.185 212deg),
      oklch(80% 0.185 213deg),
      oklch(79% 0.184 214deg),
      oklch(79% 0.185 215deg),
      oklch(78% 0.184 216deg),
      oklch(78% 0.184 217deg),
      oklch(78% 0.184 218deg),
      oklch(77% 0.184 219deg),
      oklch(77% 0.185 220deg),
      oklch(76% 0.184 221deg),
      oklch(76% 0.185 222deg),
      oklch(76% 0.184 223deg),
      oklch(75% 0.186 224deg),
      oklch(75% 0.186 225deg),
      oklch(74% 0.186 226deg),
      oklch(74% 0.188 227deg),
      oklch(73% 0.187 228deg),
      oklch(73% 0.189 229deg),
      oklch(73% 0.188 230deg),
      oklch(72% 0.191 231deg),
      oklch(72% 0.191 232deg),
      oklch(71% 0.192 233deg),
      oklch(71% 0.193 234deg),
      oklch(70% 0.194 235deg),
      oklch(70% 0.196 236deg),
      oklch(69% 0.197 237deg),
      oklch(69% 0.2 238deg),
      oklch(68% 0.2 239deg),
      oklch(68% 0.203 240deg),
      oklch(67% 0.203 241deg),
      oklch(67% 0.206 242deg),
      oklch(66% 0.207 243deg),
      oklch(66% 0.21 244deg),
      oklch(65% 0.212 245deg),
      oklch(65% 0.214 246deg),
      oklch(64% 0.218 247deg),
      oklch(63% 0.219 248deg),
      oklch(63% 0.223 249deg),
      oklch(62% 0.226 250deg),
      oklch(62% 0.228 251deg),
      oklch(61% 0.233 252deg),
      oklch(60% 0.237 253deg),
      oklch(59% 0.24 254deg),
      oklch(59% 0.244 255deg),
      oklch(58% 0.25 256deg),
      oklch(57% 0.256 257deg),
      oklch(56% 0.262 258deg),
      oklch(55% 0.268 259deg),
      oklch(54% 0.274 260deg),
      oklch(52% 0.281 261deg),
      oklch(51% 0.293 262deg),
      oklch(49% 0.303 263deg),
      oklch(47% 0.32 264deg),
      oklch(47% 0.32 265deg),
      oklch(47% 0.32 266deg),
      oklch(47% 0.317 267deg),
      oklch(47% 0.314 268deg),
      oklch(48% 0.313 269deg),
      oklch(48% 0.314 270deg),
      oklch(48% 0.313 271deg),
      oklch(48% 0.311 272deg),
      oklch(49% 0.308 273deg),
      oklch(49% 0.309 274deg),
      oklch(49% 0.309 275deg),
      oklch(49% 0.308 276deg),
      oklch(49% 0.306 277deg),
      oklch(50% 0.305 278deg),
      oklch(50% 0.306 279deg),
      oklch(50% 0.306 280deg),
      oklch(50% 0.304 281deg),
      oklch(51% 0.303 282deg),
      oklch(51% 0.305 283deg),
      oklch(51% 0.305 284deg),
      oklch(51% 0.303 285deg),
      oklch(52% 0.303 286deg),
      oklch(52% 0.305 287deg),
      oklch(52% 0.304 288deg),
      oklch(52% 0.303 289deg),
      oklch(53% 0.304 290deg),
      oklch(53% 0.306 291deg),
      oklch(53% 0.304 292deg),
      oklch(54% 0.304 293deg),
      oklch(54% 0.307 294deg),
      oklch(54% 0.306 295deg),
      oklch(55% 0.305 296deg),
      oklch(55% 0.308 297deg),
      oklch(55% 0.308 298deg),
      oklch(56% 0.307 299deg),
      oklch(56% 0.31 300deg),
      oklch(56% 0.309 301deg),
      oklch(57% 0.309 302deg),
      oklch(57% 0.313 303deg),
      oklch(57% 0.311 304deg),
      oklch(58% 0.313 305deg),
      oklch(58% 0.314 306deg),
      oklch(59% 0.314 307deg),
      oklch(59% 0.318 308deg),
      oklch(59% 0.316 309deg),
      oklch(60% 0.32 310deg),
      oklch(60% 0.32 311deg),
      oklch(61% 0.322 312deg),
      oklch(61% 0.323 313deg),
      oklch(62% 0.324 314deg),
      oklch(62% 0.326 315deg),
      oklch(63% 0.327 316deg),
      oklch(63% 0.329 317deg),
      oklch(64% 0.331 318deg),
      oklch(64% 0.332 319deg),
      oklch(65% 0.335 320deg),
      oklch(65% 0.334 321deg),
      oklch(66% 0.338 322deg),
      oklch(67% 0.338 323deg),
      oklch(67% 0.341 324deg),
      oklch(68% 0.345 325deg),
      oklch(68% 0.344 326deg),
      oklch(69% 0.348 327deg),
      oklch(70% 0.352 328deg),
      oklch(71% 0.35 329deg),
      oklch(71% 0.354 330deg),
      oklch(72% 0.358 331deg),
      oklch(72% 0.357 332deg),
      oklch(72% 0.355 333deg),
      oklch(72% 0.349 334deg),
      oklch(71% 0.348 335deg),
      oklch(71% 0.347 336deg),
      oklch(71% 0.345 337deg),
      oklch(71% 0.34 338deg),
      oklch(70% 0.338 339deg),
      oklch(70% 0.337 340deg),
      oklch(70% 0.336 341deg),
      oklch(70% 0.332 342deg),
      oklch(69% 0.329 343deg),
      oklch(69% 0.328 344deg),
      oklch(69% 0.327 345deg),
      oklch(69% 0.326 346deg),
      oklch(69% 0.323 347deg),
      oklch(69% 0.319 348deg),
      oklch(68% 0.318 349deg),
      oklch(68% 0.317 350deg),
      oklch(68% 0.316 351deg),
      oklch(68% 0.316 352deg),
      oklch(68% 0.314 353deg),
      oklch(68% 0.31 354deg),
      oklch(67% 0.309 355deg),
      oklch(67% 0.308 356deg),
      oklch(67% 0.307 357deg),
      oklch(67% 0.306 358deg),
      oklch(67% 0.306 359deg),
      oklch(67% 0.305 360deg)
    );
    border-radius: 4px;
  }

  &__numberfields {
    display: grid;
    grid-template-columns: 1fr 1.5rem 1fr;
    column-gap: 0.75rem;
    place-items: center stretch;
    padding-inline: 0.75rem;
    margin-top: 0.75rem;
  }

  &__number-field {
    grid-row: 1 / -1;
    width: unset;

    &-from {
      grid-column: 1 / span 1;
    }

    &-to {
      grid-column: 3 / span 1;
    }
  }

  &__toggle {
    grid-row: 1 / -1;
    grid-column: 2 / span 1;
  }
}

.lc {
  margin-top: 1.25rem;

  &__label {
    height: 1cap;
    padding-inline: 0.75rem;
    color: var(--on-surface);
    white-space: nowrap;
    transform: translateY(calc(-0.5 * (1lh - 1cap)));

    @include t.apply-role('label-sm');
  }

  &__sliders {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    aspect-ratio: calc(200 + 24) / calc(160 + 20);
    margin-top: 0.125rem;
  }

  &__gamut {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    margin: 0.625rem 0.75rem;
    background-color: var(--surface-container-highest);
    border-radius: 0.25rem;
  }

  &__svg {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    margin: 0.625rem 0.75rem;
    border-radius: 0.25rem;
  }

  &__xy-slider {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    margin-inline: 0.125rem;

    :global .xyslider-track-shape {
      background-color: transparent;
    }
  }

  &__numberfields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.75rem;
    place-items: center stretch;
    padding-inline: 0.75rem;
    margin-top: 0.125rem;
  }

  &__number-field {
    grid-row: 1 / -1;
    width: unset;

    &-l {
      grid-column: 1 / span 1;
    }

    &-c {
      grid-column: 2 / span 1;
    }
  }
}

.swatch-step {
  margin-top: 1.25rem;

  &__label {
    height: 1cap;
    padding-inline: 0.75rem;
    color: var(--on-surface);
    white-space: nowrap;
    transform: translateY(calc(-0.5 * (1lh - 1cap)));

    @include t.apply-role('label-sm');
  }

  &__radio-button {
    margin-inline: 0.75rem;
    margin-top: 0.75rem;
  }
}

.apca-opt {
  display: grid;
  grid-template-columns: min-content 1fr;
  place-items: center center;
  padding-inline: 0.75rem;
  margin-top: calc(1.25rem - 0.5 * (1lh - 1cap));

  @include t.apply-role('label-sm');

  &__label {
    justify-self: start;
    height: 1cap;
    color: var(--on-surface);
    white-space: nowrap;
    transform: translateY(calc(-0.5 * (1lh - 1cap)));

    @include t.apply-role('label-sm');
  }

  &__switch {
    justify-self: end;
  }
}

.create {
  padding-inline: 0.75rem;
  margin-top: 1.25rem;

  &__button {
    width: 100%;
  }
}
